* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #162831;
    width: 1296px;
    margin: 0 auto;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    color: white;
}
.add-seance {
    padding: 9px 15px;
    background-color:#018ABE;
    border-radius: 3px;
    border: none;
    color: white;
}
.banner {
    background-image: url(../style/img/0509c319c0421e2121719dcaf9b2af82.jfif);
    background-size: cover;
    background-position: 0 -140px;
    background-blend-mode: color;
    background-color: #98c9dc96;
    width: 1296px;
    height: 464px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding-top: 123px;
}

.banner h2 {
    font-size: 24px;
    font-weight: 700;
}

.banner h2::before {
    content: url(../style/img/decore\ white.svg);
    margin: 66px;
}

.banner h2::after {
    content: url(../style/img/decore\ white\ 2.svg);
    margin: 66px;

}
.banner h1 {

font-size: 64px;
font-weight: 700;
text-align: center;

}



h1, h2, h3, h4, h5, h6 {
    font-family: "El Messiri", sans-serif;
}

.title {
    display: flex;
    align-items: center;
   justify-content: center;
    color: white;
    font-size: 42px;
    margin-top: 150px;
    margin-bottom: 100px;
    

}

.title::before {
    content: url(../style/img/decore\ blu\ left.svg);
    margin: 45px;
}

.title::after {
    content: url(../style/img/decore\ blue\ riht.svg);
    margin: 45px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    color: white;
    font-size: 24px;
    

    }
    
    .div1 { 
        grid-area: 1 / 1 / 3 / 2;
        background-image: url(../style/img/сеансы\ ритмстайл.png);
        border-radius: 10px;
        height: 540px;
        background-size: cover;
        display: flex;
        align-items: end;
        
    }

    .div2 { 
        grid-area: 1 / 2 / 2 / 3; 
        background-image: url(../style/img/cсеансы\ маленькие.png);
        border-radius: 10px;
        background-size: cover;
        display: flex;
        align-items: end;
        
    
    }

    .div3 { 
        grid-area: 1 / 3 / 2 / 4; 
        background-image: url(../style/img/cсеансы\ маленькие.png);
        border-radius: 10px;
        background-size: cover;
        display: flex;
        align-items: end;
        
    }
    

    .div4 {
         grid-area: 2 / 2 / 3 / 3; 
         background-image: url(../style/img/cсеансы\ маленькие.png);
         border-radius: 10px;
         background-size: cover;
        display: flex;
        align-items: end;
    }
        

    .div5 {
         grid-area: 2 / 3 / 3 / 4; 
         background-image: url(../style/img/cсеансы\ маленькие.png);
         border-radius: 10px;
         background-size: cover;
        display: flex;
        align-items: end;
    
        }

    .seans {
        padding-left: 40px;
        padding-bottom: 30px;
    }
    
   

